
/* set heading1 font to tangerine and add text shadow and color */
h1{
    font-family: 'Tangerine', cursive;
    /* Tangerine font reference: https://fonts.google.com/specimen/Tangerine */
    text-shadow: 4px 4px 4px #aaa;
    color:rgb(75, 0, 130);
  }
  /* set color of text in list elements to dark blue-black */
  span{
    color: rgb(0, 3, 55);
  }
  /* rotate image by hovering with 2second transform of ease-in-out method */
  img:hover {
    transform: rotate(360deg);
  }
  img {
    transition: transform 2s ease-in-out;
  }
  /* make color of that particular bar as blue which is hovered */
  .bar:hover{
      fill:blue;
  }
  /* make webpage color as light blue */
  body{
      background-color: rgb(211, 221, 255);
  }
  /* adding star polygon's color, stroke and stroke width */
  polygon{
      fill:rgb(74, 110, 255);
      stroke:purple;
      stroke-width:5;
  }
  /* make round borders of the image */
  .image {
      border-radius: 40px;
  }
  /* adding toggle button's padding, font size, color, text alignment, gradient and adding border corners */
  .button {
      padding: 5px 5px;
      font-size: 25px;
      text-align: center;
      color: white;
      background-image: linear-gradient(to right, blue, rgb(0, 0, 91), rgb(0, 0, 50));
      border: none;
      border-radius: 20px;
    }
    /* On hover, increasing toggle button's padding and font size + adding shadow*/
  .button:hover {
      padding: 15px 25px;
      font-size: 27px;
      text-align: center;
      color: white;
      background-image: linear-gradient(to right, blue, rgb(0, 0, 91), rgb(0, 0, 50));
      border: none;
      border-radius: 30px;
      box-shadow: 0 4px grey;
    }
    /* setting d3 graph's gradient background and rounded corners on hover */
    .graphclass:hover {
      background-image: linear-gradient(to right, rgb(226, 226, 255), rgb(142, 142, 252), rgb(226, 226, 255));
      border-radius: 30px;
    }